@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed successfully.</h1>
        <p>Your order number is: <strong>@Model</strong></p>
        <p>Thank you for shopping with us.</p>
        <img src="~/images/lawn_leaf.jpg" width="65%"/>
    </div>
    <div class="col-12 text-center" style="color: maroon">
        Your Order has been placed successfully
    </div>
</div>